[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"

[packages]
pymongo = "*"
dnspython = "*"
progress = "*"
tweepy = "*"
unidecode = "*"

[requires]
python_version = "3.8"

[scripts]
harvest = "python src/harvest.py"
stream = "python src/stream.py"
chain-creation = "python src/chain_creation.py"
chain-generation = "python src/chain_generation.py"
bot = "python src/bot.py"
